# JWT Secret Key used for signing and verifying JSON Web Tokens
# JWT_SECRET="jkjjlkljljlj"

# MongoDB connection string for connecting to the database
# MONGODB_URL=

# Hostname of the mail server used for sending emails
# MAIL_HOST=

# Username of the email account used for sending emails
# MAIL_USER=

# Password of the email account used for sending emails
# MAIL_PASS=



# MAIL_HOST=
# MAIL_USER=
# MAIL_PASS=

# JWT_SECRET=


# RAZORPAY_KEY=
# RAZORPAY_SECRET=
# CLOUD_NAME=
# API_KEY=
# API_SECRET=
# FOLDER_NAME=
    # 
# MONGODB_URL =
# PORT = 4000
